//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:

//Directory for final outputs:
params.run_name = "PIBv1_noVanuatu"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/AnalysisFreezes"
params.output_dir = "${params.output_prefix}/${params.run_name}_MAFLD"

//Default paths, globs, and regexes:
params.vcf_glob = "${params.output_dir}/input_VCFs/*.vcf.gz"
//Regex to pull out the chromosome:
params.vcfchr_regex = ~/_chr(\p{Alnum}+)/
//Text file of sample IDs to exclude:
params.samples_to_exclude = "${params.output_dir}/${params.run_name}_samples_to_exclude.txt"
//TSV containing columns mapping sample IDs to a short group identifier:
// (e.g. a superpopulation label, like AMR for America, EUR for Europe,
//  AFR for Africa, OCN for Oceania, etc.)
params.sample_group_map = "${params.output_dir}/${params.run_name}_samplemap.tsv"

//Minimal filters expression:
//VQSR passing and 5% missingness after applying the DP<10, DP>99.5th percentile, and GQ<30 genotype masks
params.minimal_filter_str = 'FILTER!~"Missingness0.05"&&FILTER!~"LowQual"&&FILTER!~"VQSRTrancheSNP99.90to100.00+"&&FILTER!~"VQSRTrancheSNP99.90to100.00"&&FILTER!~"VQSRTrancheINDEL99.90to100.00+"&&FILTER!~"VQSRTrancheINDEL99.90to100.00"&&FILTER!~"VQSRTrancheINDEL99.50to99.90"&&FILTER!~"VQSRTrancheINDEL99.00to99.50"'
//MAF filter expression:
params.maf_filter_str = "MAF[0]>=0.01"
//LD pruning parameters:
params.ld_pruning_algo = "--indep"
params.ld_pruning_params = "50 5 2"
//All of these strings are used in filenames, so stick to [A-Za-z0-9_-],
// no weird/special characters:
//Short prefix to use to distinguish datasets/runs:
params.run_name = "PIBv1_noVanuatu"
//Short string to describe the MAF filter being used in this run:
params.MAF_name = "globalMAFge0.01"
//Short string to describe the LD pruning parameters being used in this run:
params.LD_name = "TucciROH"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_MAFLD_${params.MAF_name}_${params.LD_name}_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      params.ref_prefix = "/gpfs/gibbs/pi/tucci/pfr8/refs"
      params.ref = "${params.ref_prefix}/1kGP/hs37d5/hs37d5.fa"
      //List of autosomes:
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
   }

   farnam {
      params.mod_bcftools = "bcftools/f4dee4b"
      params.mod_htslib = "htslib/6366029"
      params.mod_plink2 = "plink/2.00a2.3"
      params.plink2_bin = "plink2_2.00a3.6_avx2_20220814"
      params.mod_plink19 = "plink/1.90b6.26"
      params.plink19_bin = "plink_1.9_20220402"
      process.queue = "pi_tucci,general"
   }

   ruddle {
      params.mod_bcftools = "bcftools/1eba45c"
      params.mod_htslib = "htslib/a1dec95"
      params.mod_plink2 = "plink/2.00a3.6"
      params.plink2_bin = "plink2_linux_avx2_20220814"
      params.mod_plink19 = "plink/1.90b7-20230116"
      params.plink19_bin = "plink"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Defaults for cpus, memory, and time for each process:
//Per-region MAF annotation:
//Max 1 retry
//Adds 8 GiB per retry
//Timeout to 48h on retry
params.perregion_maf_cpus = 1
params.perregion_maf_mem = 1
params.perregion_maf_timeout = '12h'
//MAF filtering:
//Max 1 retry
//Adds 8 GiB per retry
//Timeout to 48h on retry
params.maf_filter_cpus = 1
params.maf_filter_mem = 1
params.maf_filter_timeout = '6h'
//VCF to PLINK:
//Automatically adds 1 GiB for overhead
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 48h on retry
params.vcftoplink_cpus = 1
params.vcftoplink_mem = 4
params.vcftoplink_timeout = '2h'
//PLINK pmerge-list:
//Automatically adds 1 GiB for overhead
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 48h on retry
params.plinkmerge_cpus = 1
params.plinkmerge_mem = 1
params.plinkmerge_timeout = '2h'
//PLINK LDprune:
//Automatically adds 1 GiB for overhead
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 48h on retry
params.ldprune_cpus = 1
params.ldprune_mem = 1
params.ldprune_timeout = '2h'
