//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:
//Directory for final outputs:
params.run_name = "PIBv1"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/AnalysisFreezes/"
params.output_dir = "${params.output_prefix}/${params.run_name}_Sprime"

//Glob for the per-chromosome VCFs:
params.vcf_glob = "${params.output_dir}/modern_VCFs/*.vcf.gz"
//Regex for parsing the chromosome out of the VCF name:
params.vcf_regex = ~/_chr(\p{Alnum}+)/

//Glob for the per-chromosome archaic VCFs:
params.arcvcf_glob = "${params.output_dir}/archaic_VCFs/*.vcf.gz"
//Path to metadata file for archaics:
params.arc_metadata_file = "${params.output_dir}/${params.run_name}_archaic_metadata.tsv"

//Path to freeze metadata file:
params.metadata_file = "${params.output_dir}/${params.run_name}_metadata.tsv"
//Include/filter expression to apply to input VCFs:
params.input_filter_str = ''
//Sample ID file for exclusion:
params.samples_to_exclude = "${params.output_dir}/${params.run_name}_samples_to_exclude.txt"

//Metadata structure information for Sprime sample selection:
//Sample ID column name in metadata file:
params.id_colname = "SampleID"
//Outgroup name to use:
params.sprime_outgroup_colname = "AnalysisGroup"
params.sprime_outgroup = "Yoruba"
//Target group column name:
params.sprime_target_colname = "AnalysisGroup"

//File listing Sprime target populations (one pop per line):
params.target_pops_file = "${params.output_dir}/${params.run_name}_Sprime_target_populations.txt"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_Sprime_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      //List of autosomes to use:
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
      //Recombination rate maps to use:
      params.recmap_glob = "/gpfs/gibbs/pi/tucci/pfr8/genetic_maps/PLINK_forBeagle/GRCh37/plink.chr*.GRCh37.map"
      //Regex for parsing chromosome from rec map filenames:
      params.recmap_regex = ~/[.]chr(.+)[.]GRCh37[.]map$/
      //Annotation GFF to use:
      params.annotation_gff = "/gpfs/gibbs/pi/tucci/pfr8/refs/GENCODE/r38/gencode.v38lift37.annotation.gff3.gz"
   }

   farnam {
      params.mod_bcftools = "bcftools/1.10.2-119-g42942b4"
      params.mod_htslib = "htslib/1.10.2-131-g0456cec"
      params.mod_Sprime = "Sprime/07Dec18.5e2"
      params.mod_bedtools = "bedtools/2.29.2-41-g4ebba70"
      process.queue = 'pi_tucci,general'
   }

   ruddle {
      params.mod_bcftools = "bcftools/1eba45c"
      params.mod_htslib = "htslib/a1dec95"
      params.mod_Sprime = "Sprime/20May22.855"
      params.mod_bedtools = "bedtools/cc714eb"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//VCF subsetting for Sprime
//Adds 8 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimesubset_cpus = 1
params.sprimesubset_mem = 1
params.sprimesubset_timeout = '2h'
//VCF concatenating for Sprime
//Adds 16 GiB on retry
//Timeout to 48h on retry
//Max 1 retry
params.concatvcf_cpus = 1
params.concatvcf_mem = 1
params.concatvcf_timeout = '3h'
//Sprime
//Adds 1 GiB for overhead automatically
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprime_cpus = 1
params.sprime_mem = 8
params.sprime_timeout = '2h'
//Sprime match rates
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimematch_cpus = 1
params.sprimematch_mem = 1
params.sprimematch_timeout = '2h'
//Sprime projection
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimeproject_cpus = 1
params.sprimeproject_mem = 1
params.sprimeproject_timeout = '2h'
//Sprime tract frequencies
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimetf_cpus = 1
params.sprimetf_mem = 1
params.sprimetf_timeout = '3h'
//Sprime tract gene lists
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimegenes_cpus = 1
params.sprimegenes_mem = 5
params.sprimegenes_timeout = '1h'
//Combine outputs across targets
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.catouts_cpus = 1
params.catouts_mem = 1
params.catouts_timeout = '4h'
