//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:
//Directory for final outputs:
params.run_name = "PIBv1"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/AnalysisFreezes"
params.output_dir = "${params.output_prefix}/${params.run_name}_Sprime/phased_projections"

//Glob for the phased VCFs:
params.vcf_glob = "${params.output_dir}/phased_VCFs/*.vcf.gz"
//Regex for parsing the chromosome out of the VCF name:
params.vcf_regex = ~/_chr(\p{Alnum}+)/
//Glob for Sprime .score files:
params.sprime_score_glob = "${params.output_dir}/Sprime_scores/*.score"
//Regex for parsing population and chromosome out of the .score filename:
params.score_regex = ~/^(.+)_chr(\p{Alnum}+)_Sprime$/

//Path to freeze metadata file:
params.metadata_file = "${params.output_dir}/${params.run_name}_metadata.tsv"
//Include/filter expression to apply to input VCFs:
params.input_filter_str = ''
//Sample ID file for exclusion:
params.samples_to_exclude = "${params.output_dir}/${params.run_name}_samples_to_exclude.txt"

//Metadata structure information for Sprime sample selection:
//Sample ID column name in metadata file:
params.id_colname = "SampleID"
//Target group column name:
params.sprime_target_colname = "AnalysisGroup"

//Number of consecutive modern alleles allowed before splitting a tract:
//Slightly deceptively named
params.tract_max_gap = 0

//File listing Sprime target populations (one pop per line):
params.target_pops_file = "${params.output_dir}/${params.run_name}_Sprime_target_populations.txt"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_Sprime_phased_projections_maxgap0_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      //List of autosomes to use:
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
   }

   farnam {
      params.mod_bcftools = "bcftools/1.10.2-119-g42942b4"
      params.mod_htslib = "htslib/1.10.2-131-g0456cec"
      params.mod_bedtools = "bedtools/2.29.2-41-g4ebba70"
      process.queue = 'pi_tucci,general'
   }

   ruddle {
      params.mod_bcftools = "bcftools/1eba45c"
      params.mod_htslib = "htslib/a1dec95"
      params.mod_bedtools = "bedtools/cc714eb"
   }

   mccleary {
      params.mod_bcftools = "bcftools/f2d2fdf"
      params.mod_htslib = "htslib/c1634e7"
      params.mod_bedtools = "bedtools/b891a0b"
      process.queue = "day"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Sprime projection
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.sprimeproject_cpus = 1
params.sprimeproject_mem = 1
params.sprimeproject_timeout = '2h'
//Combine outputs across targets
//Adds 16 GiB on retry
//Timeout to 24h on retry
//Max 1 retry
params.catouts_cpus = 1
params.catouts_mem = 1
params.catouts_timeout = '2h'
