//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:

//Directory for final outputs:
params.run_name = "PIBv1_noVanuatu"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/AnalysisFreezes"
params.output_dir = "${params.output_prefix}/${params.run_name}_ADMIXTURE/TaiwanISEAOCN"

//Default paths, globs, and regexes:
//Prefix for PLINK input files:
params.plink_prefix = "PIBv1_noVanuatu_autosomes_globalMAFge0.01_bSNPs_Choin"
//Path to population map file:
params.pop_map = "admix_pop_map.txt"
//Path to samples to exclude file:
params.samples_to_exclude = "PIBv1_TaiwanISEAOCN_samples_to_exclude.txt"

//Parameters for ADMIXTURE and CLUMPAK:
//Note that this PRNG seed is actually a kind of "hyperseed", seeding the PRNG that generates the per-replicate seeds for ADMIXTURE:
params.prng_seed = 42
//Range of K to run:
params.minK = 2
params.maxK = 12
//Number of replicates per K:
params.replicates = 20
//Number of folds for cross-validation:
params.cv_folds = 20
//Threshold to use for MCL clustering of components across K values:
params.mclthreshold = 0.9
//Optional drawparams file for distruct:
params.drawparams = "drawparams_PIBv1"

//Overwrite the run_name so that we describe a bit better:
params.run_name = "PIBv1_noVanuatu_autosomes_TaiwanISEAOCN"
//Short string to describe the MAF filter being used in this run:
params.MAF_name = "globalMAFge0.01"
//Short string to describe the LD pruning parameters being used in this run:
params.LD_name = "Choin"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_ADMIXTURE_${params.MAF_name}_${params.LD_name}_${params.replicates}reps_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   farnam {
      params.mod_plink = "PLINK/1.90-beta4.4"
      params.mod_admixture = "ADMIXTURE/1.3.0"
      //Path to CLUMPAK install zip:
      params.clumpak_zip = "/gpfs/gibbs/pi/tucci/dt637/admixture_nextflow"
      //Relative path to CLUMPAK Perl modules:
      params.clumpak_path = "26_03_2015_CLUMPAK/CLUMPAK"
      process.queue = "pi_tucci,general"
   }

   ruddle {
      params.mod_plink = "PLINK/1.90-beta4.4"
      params.mod_admixture = "ADMIXTURE/1.3.0"
      //Path to CLUMPAK install zip:
      params.clumpak_zip = "/home/pfr8/bin/CLUMPAK-20150326/CLUMPAK/26_03_2015_CLUMPAK.zip"
      //Relative path to CLUMPAK Perl modules:
      params.clumpak_path = "26_03_2015_CLUMPAK/CLUMPAK"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Defaults for cpus, memory, and time for each process:
//PLINK subset step:
//Max 1 retry
//Automatically adds 1 GiB for overhead
//Adds 16 GiB per retry
//Timeout to 24h on retry
params.subset_cpus = 4
params.subset_mem = 3
params.subset_timeout = '6h'
//ADMIXTURE step:
//Max 1 retry
//Adds 32 GiB per retry
//Timeout to 48h on retry
params.admixture_cpus = 4
params.admixture_mem = 24
params.admixture_timeout = '48h'
//Zipping of Q matrices for CLUMPAK:
//Max 1 retry
//Adds  GiB per retry
//Timeout to  on retry
params.zip_q_cpus = 1
params.zip_q_mem = 2
params.zip_q_timeout = '2h'
//CLUMPAK step:
//Max 1 retry
//Adds  GiB per retry
//Timeout to  on retry
params.clumpak_cpus = 1
params.clumpak_mem = 4
params.clumpak_timeout = '8h'
