//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 200
   submitRateLimit = '100/10min'
}

//Input parameters for the pipeline:
//Directory for final outputs:
params.run_name = "PIBv1"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/AnalysisFreezes"
params.output_dir = "${params.output_prefix}/${params.run_name}_ReviewerResponses/Simulations/Sim1"

//File listing pop tuples for scans and Sprime:
params.target_pops_file = "${params.output_dir}/${params.run_name}_target_pop_tuples.tsv"

//Simulation parameters for stdpopsim:
params.sim_seed = 1
params.sim_species = "HomSap"
params.sim_gmap = "HapMapII_GRCh37"
params.sim_demo_model = "PapuansOutOfAfrica_10J19"
params.sim_modern_groups = "AFR,CEU,CHB,OCN"
params.sim_arc_groups = "NeaA,DenA"
params.n_AFR = 101
params.n_EUR = 150
params.n_EAS = 237
params.n_OCN = 100
params.n_DEN = 1
params.n_NEA = 1
params.sim_sample_string = "YRI:${params.n_AFR} CEU:${params.n_EUR} CHB:${params.n_EAS} Papuan:${params.n_OCN} DenA:${params.n_DEN} NeaA:${params.n_NEA}"
//Sample sizes for subsetting for analyses:
params.n_target = 25
params.n_YRI = 21

//Sample ID column name in metadata file:
params.id_colname = "SampleID"
//Outgroup name to use:
params.sprime_outgroup_colname = "Population"
params.sprime_outgroup = "YRI"
//Outgroup and target subsets to make:
params.pops_to_subset = "YRI,Papuan"
//Subset sizes:
params.pop_subset_sizes = "${params.n_YRI},${params.n_target}"
//Region names to assign to the simulated pops (including subsets):
params.subset_region_names = "AFR,OCN"
//Target group column name:
params.sprime_target_colname = "Population"
//Column name to use for r^2 calculation:
params.r2_colname = "Region"

//Archaic hominin groups represented in archaic VCFs:
//Must be same number of groups and in same order as params.sim_arc_groups
params.archaic_groups = "Neandertal,Denisovan"
//Archaic hominin samples to consider individually in archaic VCFs:
params.archaic_indivs = ""
//Short names for these archaic hominin samples:
params.archaic_shortnames = ""

//Tract origins to assess and criteria to use for core haplotypes:
params.origin_criteria = "PFR"
params.tract_origin_list = "Neandertal,Denisovan,Ambiguous"

//Internal gap length in phased projection allowed to be spanned:
//This gap length is a count of Sprime sites at which the haplotype
// in question does not match the Sprime-identified putative archaic
// allele.
//Strongly recommend setting to 0, as this matches haplotype
// predictions from other methods better.
params.tract_max_gap = 0

//Whether r^2 should be calculated based on genotypes or haplotypes:
params.phased = false
if (params.phased) {
   params.r2_type = "hap"
} else {
   params.r2_type = "geno"
}
//Minimum r^2 to report:
params.min_r2 = "0.3"

//PBS window size (in # variants):
params.window_size = 20
//PBS window step (in # variants):
params.window_step = 5
//Extra parameter to pbs_cli.py if we want to clip negative PBS scores to 0:
//params.clip_pbs = "--clip_neg_pbs"
params.clip_pbs = "--clip_neg_pbs"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_adaptiveintrogressionsims_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      //List of autosomes to use:
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
      //Recombination rate maps:
      params.recmap_glob = "/gpfs/gibbs/pi/tucci/pfr8/genetic_maps/PLINK_forBeagle/GRCh37/plink.chr*.GRCh37.map"
      //Regex for extracting chromosome from recombination rate map filename:
      params.recmap_regex = ~/[.]chr(.+)[.]GRCh37[.]map$/
   }

   mccleary {
      params.mod_miniconda = "miniconda/24.9.2"
      params.mod_bcftools = "bcftools/f2d2fdf"
      params.mod_htslib = "htslib/c1634e7"
      params.mod_Sprime = "Sprime/20May22.855"
      params.mod_vcftools = "VCFtools/0.1.16-GCCcore-10.2.0"
      params.mod_R = "R/4.2.0-foss-2020b"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Defaults for cpus, memory, and time for each process:
//Run simulations and generate VCFs:
params.run_sim_cpus = 1
params.run_sim_mem = 8
params.run_sim_mem_increment = 16
params.run_sim_timeout = '3h'
params.run_sim_retry_timeout = '24h'
params.run_sim_queue = 'day'
params.run_sim_retry_queue = 'day'
//VCF subsetting for Sprime
params.vcfsubset_cpus = 1
params.vcfsubset_mem = 4
params.vcfsubset_mem_increment = 8
params.vcfsubset_timeout = '1h'
params.vcfsubset_retry_timeout = '24h'
params.vcfsubset_queue = 'day'
params.vcfsubset_retry_queue = 'day'
//VCF concatenating for Sprime
params.concatvcf_cpus = 1
params.concatvcf_mem = 4
params.concatvcf_mem_increment = 16
params.concatvcf_timeout = '1h'
params.concatvcf_retry_timeout = '24h'
params.concatvcf_queue = 'day'
params.concatvcf_retry_queue = 'day'
//Sprime
params.sprime_cpus = 1
params.sprime_mem = 4
params.sprime_mem_increment = 16
params.sprime_timeout = '3h'
params.sprime_retry_timeout = '24h'
params.sprime_queue = 'day'
params.sprime_retry_queue = 'day'
//Sprime match rates
params.matchrate_cpus = 1
params.matchrate_mem = 4
params.matchrate_mem_increment = 16
params.matchrate_timeout = '2h'
params.matchrate_retry_timeout = '24h'
params.matchrate_queue = 'day'
params.matchrate_retry_queue = 'day'
//Sprime projection
params.projection_cpus = 1
params.projection_mem = 1
params.projection_mem_increment = 16
params.projection_timeout = '2h'
params.projection_retry_timeout = '24h'
params.projection_queue = 'day'
params.projection_retry_queue = 'day'
//Identify Sprime "tag" sites
params.tagsites_cpus = 1
params.tagsites_mem = 1
params.tagsites_mem_increment = 4
params.tagsites_timeout = '1h'
params.tagsites_retry_timeout = '24h'
params.tagsites_queue = 'day'
params.tagsites_retry_queue = 'day'
//Identify core haplotypes based on LD connected components
params.calcld_cpus = 1
params.calcld_mem = 4
params.calcld_mem_increment = 4
params.calcld_timeout = '2h'
params.calcld_retry_timeout = '24h'
params.calcld_queue = 'day'
params.calcld_retry_queue = 'day'
//Concatenate core haplotypes across chromosomes and tract origins
params.catcorehaps_cpus = 1
params.catcorehaps_mem = 1
params.catcorehaps_mem_increment = 4
params.catcorehaps_timeout = '1h'
params.catcorehaps_retry_timeout = '24h'
params.catcorehaps_queue = 'day'
params.catcorehaps_retry_queue = 'day'
//Annotate .score/_matches.tsv file with core haplotypes
params.corescore_cpus = 1
params.corescore_mem = 4
params.corescore_mem_increment = 4
params.corescore_timeout = '1h'
params.corescore_retry_timeout = '24h'
params.corescore_queue = 'day'
params.corescore_retry_queue = 'day'
//Sprime core haplotype frequencies
params.coretf_cpus = 1
params.coretf_mem = 1
params.coretf_mem_increment = 4
params.coretf_timeout = '4h'
params.coretf_retry_timeout = '24h'
params.coretf_queue = 'day'
params.coretf_retry_queue = 'day'
//Construct map from core haplotype to Sprime tract
params.tractmap_cpus = 1
params.tractmap_mem = 1
params.tractmap_mem_increment = 4
params.tractmap_timeout = '1h'
params.tractmap_retry_timeout = '24h'
params.tractmap_queue = 'day'
params.tractmap_retry_queue = 'day'
//PBS
params.pbs_cpus = 1
params.pbs_mem = 16
params.pbs_mem_increment = 16
params.pbs_timeout = '2h'
params.pbs_retry_timeout = '24h'
params.pbs_queue = 'day'
params.pbs_retry_queue = 'day'
//XP-EHH
params.xpehh_cpus = 1
params.xpehh_mem = 24
params.xpehh_mem_increment = 16
params.xpehh_timeout = '2h'
params.xpehh_retry_timeout = '24h'
params.xpehh_queue = 'day'
params.xpehh_retry_queue = 'day'
//Combine outputs across targets and chromosomes
params.catouts_cpus = 1
params.catouts_mem = 1
params.catouts_mem_increment = 16
params.catouts_timeout = '2h'
params.catouts_retry_timeout = '24h'
params.catouts_queue = 'day'
params.catouts_retry_queue = 'day'
